* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}
.mapa {
  width: 100%;
  max-width: 1500px;
  height: 777px;
  background: url("../images/v4_2.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  opacity: 1;
  position: relative;
  flex-shrink: 0;
  counter-reset: rect;
  top: 0px;
  left: 0px;
  overflow: visible;
}

/* ===== AMÉRICA DO NORTE ===== */
.america-do-norte {
  width: 531px;
  height: 425px;
  background: url("../images/Continente/_Continentes/America\ do\ Norte.svg") no-repeat center center;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
  border: none !important;
}
.ottawa {
  aspect-ratio: 87 / 104;
  background: url("../images/Continente/America do Norte/Ottawa.svg") no-repeat center center;
  opacity: 1;
  position: absolute;
  top: 124px;
  left: 161px;
  border: none !important;
}
.vancouver {
  aspect-ratio: 123 / 78;
  background: url("../images/Continente/America do Norte/Vancouver.svg") no-repeat center center;
  opacity: 1;
  position: absolute;
  top: 105px;
  left: 63px;
  border: none !important;
}
.mackenzie {
  aspect-ratio: 240 / 69;
  background: url("../images/Continente/America\ do\ Norte/Mackenzie.svg") no-repeat center center;
  opacity: 1;
  position: absolute;
  top: 60px;
  left: 68px;
  border: none !important;
}
.alaska {
  aspect-ratio: 142 / 78;
  background: url("../images/Continente/America do Norte/Alaska.svg") no-repeat center center;
  opacity: 1;
  position: absolute;
  top: 37px;
  left: 0px;
  border: none !important;
}
.labrador {
  aspect-ratio: 101 / 103;
  background: url("../images/Continente/America do Norte/Labrador.svg") no-repeat center center;
  opacity: 1;
  position: absolute;
  top: 124px;
  left: 241px;
  border: none !important;
}
.california {
  aspect-ratio: 155 / 103;
  background: url("../images/Continente/America do Norte/California.svg") no-repeat center center;
  opacity: 1;
  position: absolute;
  top: 170px;
  left: 17px;
  border: none !important;
}
.mexico {
  aspect-ratio: 196 / 163;
  background: url("../images/Continente/America do Norte/Mexico.svg") no-repeat center center;
  opacity: 1;
  position: absolute;
  top: 262px;
  left: 24px;
  border: none !important;
}
.nova-iorque {
  aspect-ratio: 203 / 134;
  background: url("../images/Continente/America do Norte/Nova\ Iorque.svg") no-repeat center center;
  opacity: 1;
  position: absolute;
  top: 191px;
  left: 71px;
  border: none !important;
}
.groenlandia {
  aspect-ratio: 193 / 161;
  background: url("../images/Continente/America do Norte/Groenlandia.svg") no-repeat center center;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 338px;
  border: none !important;
}

/* ===== AMÉRICA DO SUL ===== */
.america-do-sul {
  width: 227px;
  height: 377px;
  background: url("../images/Continente/_Continentes/America\ do\ Sul.svg") no-repeat center center;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 400px;
  left: 138px;
  overflow: hidden;
  border: none !important;
}
.colombia {
  aspect-ratio: 134 / 89;
  background: url("../images/Continente/America do Sul/Colombia.svg") no-repeat center center;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 15px;
  border: none !important;
}
.brasil {
  aspect-ratio: 190 / 227;
  background: url("../images/Continente/America do Sul/Brasil.svg") no-repeat center center;
  opacity: 1;
  position: absolute;
  top: 44px;
  left: 37px;
  border: none !important;
}
.argentina {
  aspect-ratio: 79 / 177;
  background: url("../images/Continente/America do Sul/Argentina.svg") no-repeat center center;
  opacity: 1;
  position: absolute;
  top: 190px;
  left: 67px;
  border: none !important;
}
.chile {
  aspect-ratio: 124 / 318;
  background: url("../images/Continente/America do Sul/Chile.svg") no-repeat center center;
  opacity: 1;
  position: absolute;
  top: 59px;
  left: 0px;
  border: none !important;
}

/* ===== OCEANIA ===== */
.oceania {
  width: 275px;
  height: 262px;
  background: url("../images/Continente/_Continentes/Oceania.svg") no-repeat center center;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 491px;
  left: 939px;
  overflow: hidden;
  border: none !important;
}
.borneo {
  aspect-ratio: 81 / 81;
  background: url("../images/Continente/Oceania/Borneo.svg") no-repeat center center;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 87px;
  border: none !important;
}
.australia {
  aspect-ratio: 185 / 166;
  background: url("../images/Continente/Oceania/Australia.svg") no-repeat center center;
  opacity: 1;
  position: absolute;
  top: 96px;
  left: 13px;
  border: none !important;
}
.sumatra {
  aspect-ratio: 75 / 93;
  background: url("../images/Continente/Oceania/Sumatra.svg") no-repeat center center;
  opacity: 1;
  position: absolute;
  top: 6px;
  left: 0px;
  border: none !important;
}
.nova-guine {
  aspect-ratio: 92 / 77;
  background: url("../images/Continente/Oceania/Nova\ Guine.svg") no-repeat center center;
  opacity: 1;
  position: absolute;
  top: 41px;
  left: 183px;
  border: none !important;
}

/* ===== ÁSIA ===== */
.asia {
  width: 556px;
  height: 480px;
  background: url("../images/Continente/_Continentes/Asia.svg") no-repeat center center;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 22px;
  left: 658px;
  overflow: hidden;
  border: none !important;
}
.japao {
  aspect-ratio: 42 / 89;
  background: url("../images/Continente/Asia/Japao.svg") no-repeat center center;
  opacity: 1;
  position: absolute;
  top: 240px;
  left: 492px;
  border: none !important;
}
.oriente-medio {
  aspect-ratio: 167 / 163;
  background: url("../images/Continente/Asia/Oriente\ Medio.svg") no-repeat center center;
  opacity: 1;
  position: absolute;
  top: 248px;
  left: 0px;
  border: none !important;
}
.aral {
  aspect-ratio: 130 / 107;
  background: url("../images/Continente/Asia/Aral.svg") no-repeat center center;
  opacity: 1;
  position: absolute;
  top: 181px;
  left: 101px;
  border: none !important;
}
.china {
  aspect-ratio: 236 / 197;
  background: url("../images/Continente/Asia/China.svg") no-repeat center center;
  opacity: 1;
  position: absolute;
  top: 191px;
  left: 206px;
  border: none !important;
}
.vietna {
  aspect-ratio: 84 / 134;
  background: url("../images/Continente/Asia/Vietna.svg") no-repeat center center;
  opacity: 1;
  position: absolute;
  top: 346px;
  left: 312px;
  border: none !important;
}
.india {
  aspect-ratio: 166 / 171;
  background: url("../images/Continente/Asia/India.svg") no-repeat center center;
  opacity: 1;
  position: absolute;
  top: 276px;
  left: 156px;
  border: none !important;
}
.vladvostok {
  aspect-ratio: 264 / 246;
  background: url("../images/Continente/Asia/Vladvostok.svg") no-repeat center center;
  opacity: 1;
  position: absolute;
  top: 54px;
  left: 293px;
  border: none !important;
}
.mongolia {
  aspect-ratio: 138 / 63;
  background: url("../images/Continente/Asia/Mongolia.svg") no-repeat center center;
  opacity: 1;
  position: absolute;
  top: 202px;
  left: 237px;
  border: none !important;
}
.omsk {
  aspect-ratio: 174 / 220;
  background: url("../images/Continente/Asia/Omsk.svg") no-repeat center center;
  opacity: 1;
  position: absolute;
  top: 30px;
  left: 78px;
  border: none !important;
}
.dudinka {
  aspect-ratio: 167 / 212;
  background: url("../images/Continente/Asia/Dudinka.svg") no-repeat center center;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 112px;
  border: none !important;
}
.siberia {
  aspect-ratio: 153 / 123;
  background: url("../images/Continente/Asia/Siberia.svg") no-repeat center center;
  opacity: 1;
  position: absolute;
  top: 31px;
  left: 213px;
  border: none !important;
}
.tchita {
  aspect-ratio: 180 / 81;
  background: url("../images/Continente/Asia/Tchita.svg") no-repeat center center;
  opacity: 1;
  position: absolute;
  top: 127px;
  left: 214px;
  border: none !important;
}

/* ===== ÁFRICA ===== */
.africa {
  width: 314px;
  height: 396px;
  background: url("../images/Continente/_Continentes/Africa.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 290px;
  left: 460px;
  overflow: hidden;
  border: none !important;
}
.madagascar {
  aspect-ratio: 45 / 74;
  background: url("../images/Continente/Africa/Madagascar.svg") no-repeat center center;
  opacity: 1;
  position: absolute;
  top: 283px;
  left: 260px;
  border: none !important;
}
.argelia {
  aspect-ratio: 150 / 189;
  background: url("../images/Continente/Africa/Argelia.svg") no-repeat center center;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border: none !important;
}
.egito {
  aspect-ratio: 122 / 81;
  background: url("../images/Continente/Africa/Egito.svg") no-repeat center center;
  opacity: 1;
  position: absolute;
  top: 21px;
  left: 126px;
  border: none !important;
}
.sudao {
  aspect-ratio: 182 / 195;
  background: url("../images/Continente/Africa/Sudao.svg") no-repeat center center;
  opacity: 1;
  position: absolute;
  top: 85px;
  left: 132px;
  border: none !important;
}
.congo {
  aspect-ratio: 107 / 123;
  background: url("../images/Continente/Africa/Congo.svg") no-repeat center center;
  opacity: 1;
  position: absolute;
  top: 182px;
  left: 115px;
  border: none !important;
}
.africa-do-sul {
  aspect-ratio: 136 / 131;
  background: url("../images/Continente/Africa/Africa\ do\ Sul.svg") no-repeat center center;
  opacity: 1;
  position: absolute;
  top: 265px;
  left: 126px;
  border: none !important;
}

/* ===== EUROPA ===== */
.europa {
  width: 336px;
  height: 261px;
  background: url("../images/Continente/_Continentes/Europa.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 44px;
  left: 455px;
  overflow: hidden;
  border: none !important;
}
.islandia {
  aspect-ratio: 47 / 29;
  background: url("../images/Continente/Europa/Islandia.svg");
  opacity: 1;
  position: absolute;
  top: 75px;
  left: 29px;
  border: none !important;
}
.inglaterra {
  aspect-ratio: 48 / 48;
  background: url("../images/Continente/Europa/Inglaterra.svg");
  opacity: 1;
  position: absolute;
  top: 125px;
  left: 0px;
  border: none !important;
}
.franca {
  aspect-ratio: 115 / 90;
  background: url("../images/Continente/Europa/França.svg");
  opacity: 1;
  position: absolute;
  top: 157px;
  left: 57px;
  border: none !important;
}
.alemanha {
  aspect-ratio: 55 / 92;
  background: url("../images/Continente/Europa/Alemanha.svg");
  opacity: 1;
  position: absolute;
  top: 109px;
  left: 108px;
  border: none !important;
}
.suecia {
  aspect-ratio: 109 / 109;
  background: url("../images/Continente/Europa/Suecia.svg");
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 106px;
  border: none !important;
}
.polonia {
  aspect-ratio: 74 / 130;
  background: url("../images/Continente/Europa/Polonia.svg");
  opacity: 1;
  position: absolute;
  top: 131px;
  left: 150px;
  border: none !important;
}
.russia {
  aspect-ratio: 168 / 243;
  background: url("../images/Continente/Europa/Russia.svg");
  opacity: 1;
  position: absolute;
  top: 15px;
  left: 169px;
  border: none !important;
}

/* ===== SISTEMA DE BADGES COM NOMES ===== */
/* Para elementos com data-name, mostra o nome ao invés de número */
.mapa { counter-reset: rect; }

/* Regra geral para todos os territórios - permite que SVGs usem suas dimensões naturais */
.mapa [data-name]:not(.mapa) {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

/* Contêineres de continentes não devem incrementar o contador nem mostrar badge */
.mapa .america-do-norte::after,
.mapa .america-do-sul::after,
.mapa .oceania::after,
.mapa .asia::after,
.mapa .africa::after,
.mapa .europa::after {
  content: none;
  display: none;
}

/* Elementos com data-name mostram o nome no badge */
.mapa [data-name]::after {
  content: attr(data-name);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(0,0,0,0.75);
  color: #fff;
  font-weight: 700;
  font-size: 11px;
  padding: 3px 7px;
  border-radius: 3px;
  z-index: 9999;
  pointer-events: none;
  white-space: nowrap;
}

/* Tooltip ao passar o mouse */
.mapa [data-name] {
  cursor: pointer;
}
.mapa [data-name]:hover::before {
  content: attr(data-name);
  position: absolute;
  left: 50%;
  bottom: calc(100% + 8px);
  transform: translateX(-50%);
  background: rgba(0,0,0,0.9);
  color: #fff;
  padding: 6px 10px;
  font-size: 13px;
  white-space: nowrap;
  border-radius: 4px;
  z-index: 10000;
  pointer-events: none;
  box-shadow: 0 2px 8px rgba(0,0,0,0.3);
}
